# Binaries
smartcalc
SmartCalc-*
*.exe
*.exe~
*.dll
*.so
*.dylib
*.bin
*.app

# Test binary
*.test

# Output of go coverage
*.out

# Go workspace
go.work

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Fyne
fyne-cross/
main_fyne.go.bak

# Frontend
frontend/node_modules/
frontend/dist/
frontend/package.json.md5
frontend/package-lock.json

# Build artifacts
*.tar.gz
*.zip
*.deb
*.rpm
*.dmg
*.pkg
*.msi
*.AppImage

# Wails build output
build/bin/
